@charset "UTF-8";

/******************************************/
/*		Medclub
/*			by DFocus AuTiMoThY
/******************************************/
/*
* TOC
* 
* -	_Initial
* -	_Layout
* -	btn
* -	form input textarea
* -	loading
* -	Header
* -	Footer
* -	nav
* -	banner
* -	_Index_page
* -	_new_page
* -	_prod_page
* -	_reca_page
* -	_service_page
* -	_point_page
* -	_login_page
* -	_member_page
* -	mod
* -	font    icon
*/

@import "_variable";
@import "_mixin";
// @import "_font.scss";
@import "compass";
@import "ceaser-easing";

@include establish-baseline;


// @include font-face("HelveticaNeueLTCom", font-files("HelveticaNeueLTCom-Th.ttf", "HelveticaNeueLTCom-Th.woff"));

// @import _animate.sass
/*------------------------------------------------------------------------*\
/*------------------------------------------------------------------------*\
/*------------------------------------------------------------------------*\
		>	_Initial
\*------------------------------------------------------------------------*/
@import "_Initial";

/*------------------------------------------------------------------------*\
/*------------------------------------------------------------------------*\
/*========================================================================*\
		>	_Layout
\*========================================================================*/
@import "project/_Layout";

/*------------------------------------------------------------------------*\
/*------------------------------------------------------------------------*\
/*========================================================================*\
		>	btn
\*========================================================================*/
@import "module/_pageBtn";
@import "_BTN";

// @import "_materialBtn";

/*------------------------------------------------------------------------*\
/*------------------------------------------------------------------------*\
/*========================================================================*\
		>	form input textarea
\*========================================================================*/
form input[type="text"], 
form input[type="email"], 
form input[type="password"],
form input[type="telephone"],
form textarea,
form select {
	// max-width:500px;
	height: 30px;
	background:#f4f4f4;
	border:1px solid $bd_color2;
	// padding:4px 0;
	color:#303030;
	// text-indent:8px;
	@include box-shadow(inset 1px 1px 5px 0px rgba(0,0,0,0.4));
}
form select {
	@include box-shadow(none);
	margin: 0;
}

@import "module/_inputCheckbox";
/*------------------------------------------------------------------------*\
/*------------------------------------------------------------------------*\
/*========================================================================*\
		>	loading
\*========================================================================*/
// @import "module/_loading";

/*------------------------------------------------------------------------*\
/*------------------------------------------------------------------------*\
/*========================================================================*\
		>	Header
\*========================================================================*/
@import "project/_Header";

/*------------------------------------------------------------------------*\
/*------------------------------------------------------------------------*\
/*========================================================================*\
		>	Footer
\*========================================================================*/
@import "project/_Footer";

/*------------------------------------------------------------------------*\
/*------------------------------------------------------------------------*\
/*========================================================================*\
		>	nav
\*========================================================================*/
.nav-Medclub {

}

/*------------------------------------------------------------------------*\
/*------------------------------------------------------------------------*\
/*========================================================================*\
		>	banner
\*========================================================================*/
.banner {
	margin-top: 1px;
}
@import "_CAROUSEL";

/*------------------------------------------------------------------------*\
/*------------------------------------------------------------------------*\
/*========================================================================*\
		>	_Index_page
\*========================================================================*/
@import "project/_Index_page";

/*------------------------------------------------------------------------*\
/*------------------------------------------------------------------------*\
/*========================================================================*\
		>	_new_page
\*========================================================================*/
@import "project/_new_page";

/*------------------------------------------------------------------------*\
/*------------------------------------------------------------------------*\
/*========================================================================*\
		>	_prod_page
\*========================================================================*/
@import "project/_prod_page";

/*------------------------------------------------------------------------*\
/*------------------------------------------------------------------------*\
/*========================================================================*\
		>	_reca_page
\*========================================================================*/
@import "project/_reca_page";

/*------------------------------------------------------------------------*\
/*------------------------------------------------------------------------*\
/*========================================================================*\
		>	_service_page
\*========================================================================*/
@import "project/_service_page";

/*------------------------------------------------------------------------*\
/*------------------------------------------------------------------------*\
/*========================================================================*\
		>	_point_page
\*========================================================================*/
@import "project/_point_page";

/*------------------------------------------------------------------------*\
/*------------------------------------------------------------------------*\
/*========================================================================*\
		>	_login_page
\*========================================================================*/
@import "project/_login_page";

/*------------------------------------------------------------------------*\
/*------------------------------------------------------------------------*\
/*========================================================================*\
		>	_member_page
\*========================================================================*/
@import "project/_member_page";

/*------------------------------------------------------------------------*\
/*------------------------------------------------------------------------*\
/*========================================================================*\
		>	_links_page
\*========================================================================*/
@import "project/_links_page";

/*------------------------------------------------------------------------*\
/*------------------------------------------------------------------------*\
/*========================================================================*\
		>	mod
\*========================================================================*/
.tag_vertical {
	overflow: hidden;
	position: relative;
	.showbox, .menu {
		position: absolute;
	}
	.showbox {
		a {
			display: block;
		}
	}
	.menu {
		top: 0;
	}
}

// @import "module/_tabs";

// @import "project/_MOD";



/*------------------------------------------------------------------------*\
/*------------------------------------------------------------------------*\
/*========================================================================*\
		>	font    icon
\*========================================================================*/
.txt {

}

button {
	&.icon {
		margin: 0;
		border: none;
	}
}

.fa {
	.marquee_btn & {
		color: $normal_color;
	}
}


.tdlt {
	text-decoration: line-through;
}

.tri {
	display: inline-block;
}


