@charset "UTF-8";

.member {
	&-block {
		@include bg(#fff);
		@include shadow2;
		padding: 1em 3em;
		h2 {
			@include wh(848px, 59px);
			@include bg-t(0, -533px);
			margin: auto;
		}
	}
	&-form {
		// width: 45%;
		padding: 1em 1.3em;
		li {
			width: 100%;
			float: none;
			@include rhythm-margins(0.6);
		}
		label {
			&.title, &.empty {
				width: 70px;
			}
		}
		&.form1 {
			width: 45%;
			label {
				width: 50px;
			}
			.btn {
				width: 260px;
				display: inline-block;
			}
			input {
				box-shadow: none;
				&.ib {
					width: 260px;
					display: inline-block;
				}
			}
			textarea {
				box-shadow: none;
			}
		}
		&.form2 {
			width: 55%;
			input {
				box-shadow: none;
				&.ib {
					width: 330px;
					display: inline-block;
				}
			}
			textarea {
				box-shadow: none;
				resize: none;
				&.ib {
					width: 330px;
					display: inline-block;
				}
			}
			.btn-change_confirm {
				width: 190px;
				display: inline-block;
			}
			.btn-change_undo {
				width: 140px;
				display: inline-block;
			}
			.assess {
				input {
					display: none;
				}
			}
		}
	}
}